/* WE BEGIN */

html {
    scroll-behavior: smooth;  
}

body {
    font-family: 'Barlow', sans-serif;
    font-size:18px;
    background:#F2F2F2;
    color: hsl(212, 27%, 19%);
}

h1, h2, h3, h4, h5 {
    font-family: 'Fraunces', serif;
}

/* HEADER - Logo & Nav */

header {
    max-width:1440px;
    padding:0 45px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin-top:35px
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:45px;
}

nav a {
    font-family: 'Barlow', sans-serif;
    font-size:18px;
    font-weight:600;
    letter-spacing:-0.128571px;
    line-height:25px;
    color:#fff;
    transition:all 0.3s ease;
}

nav a.contact {
    font-family: 'Fraunces', serif;
    padding:15px 30px;
    color: hsl(212, 27%, 19%);
    background:#fff;
    border-radius:28px;
    text-transform: uppercase;
}

nav a.contact:hover {
    color:#fff;
    background:rgba(255,255,255,0.25);
}

header button {
    display:none;
}

/* WELCOME - Citrus Banner */
.welcome {
    margin-top:-90px;
    height:100vh;
    background:#3EBFFF url(images/desktop/image-header.jpg) no-repeat center bottom;
    background-size:contain;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.welcome h1 {
    font-size:56px;
    letter-spacing:8.75px;
    line-height:69px;
    font-weight:900;
    margin-top:195px;
    color:#fff;
    text-transform: uppercase;
    margin-bottom:95px;
}

/* CONTENT - Grids, Pitches, Testimonials, Whatnot */

.cg {
    display:grid;
    justify-content: center;
    align-items:center;
}

.cg__pitches {
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:repeat(3, 1fr);
}

.cg__pitches--img, .cg__pitches--copy {
    min-height:600px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.cg__pitches--copy {
    background:#F2F2F2;
}

.cg__pitches--copy h2 {
    color:hsl(212, 27%, 19%);
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -0.285714px;
    margin-bottom:30px;
}

.cg__pitches--copy p {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.128571px;
    color: #808397;
    margin-bottom: 40px;
}

.cg__pitches--copy a {
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: hsl(212, 27%, 19%);
    position: relative;
    z-index: 1;
}

.cg__pitches--copy a::after {
    position: absolute;
    bottom:-2px;
    left:-5%;
    display:block;
    content:'';
    width:110%;
    height:10px;
    border-radius: 28px;
    opacity:0.25;
    z-index:-1;
    transition:all 0.6s ease;
}

.cg__pitches--copy a:hover::after {
    opacity:1
}

.cg__pitches--copy a.yellow::after {
    background:#FAD400;
}

.cg__pitches--copy a.red::after {
    background:#FE7766;
}

.cg__pitches--copyContainer {
    max-width:445px;
}

.cg__pitches--img img {
        object-fit: cover;
        height: 600px;
        width: 100%;
}

.cg__pitches--imgPlusCopy {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 35px;
    height:600px;
}

.cg__pitches--imgPlusCopy h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.2px;
    color:hsl(212, 27%, 19%);
    margin-bottom:25px;
}

.cg__pitches--imgPlusCopy p {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.114286px;
    max-width:40ch;
}

.cg__pitches--imgPlusCopyGD {
    background:url(images/desktop/image-graphic-design.jpg) no-repeat center top;
    background-size:cover;
}

.cg__pitches--imgPlusCopyGD p {
    color:hsl(167, 40%, 24%);
}

.cg__pitches--imgPlusCopyP {
    background:url(images/desktop/image-photography.jpg) no-repeat center top;
    background-size:cover;
}

.cg__pitches--imgPlusCopyP p {
    color:hsl(198, 62%, 26%);
}

.yellowBg {
    background:#FAD400
}

.redBg {
    background:#FE7766;
}

.testimonials {
    padding:160px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonials__title {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 5px;
    color: #A7AAAD;
    text-transform: uppercase;
    margin-bottom:80px;
}

.testimonials__container {
    max-width:1110px;
    display:flex;
    justify-content: space-around;
    gap:30px;
    align-items:center;
}

.testimonials__quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.testimonials__quote img {
    border-radius:50%;
    width:72px;
    margin-bottom: 70px;
}

.testimonials__quote p.quote {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.128571px;
    color: #5B636D;
    margin-bottom: 70px;
}

.testimonials__quote p.name {
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.128571px;
    color: #24303E;
    margin-bottom:10px;
}

.testimonials__quote p.title {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: -0.1px;
    color: #A7AAAD;
}

.cg__gallery {
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: 1fr;
}

.gallery__item {
    height:447px;
}

.gallery__item img {
    object-fit: cover;
    height: 447px;
    width: 100%;
}

.attribution {
    margin: 45px auto;
    max-width: 28ch;
    text-align: center;
    line-height: 150%;
}

.attribution a {
    color:#FE7766;
    transition: color 0.3s ease;
}

.attribution a:hover {
    color:#FBD600
}

/* FOOT'ER */

footer {
    background:#90D4C6;
    padding:72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    fill:#2C7566;
    margin-bottom:40px;
}

.footer-nav, .footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:55px;
}

.footer-nav {
    margin-bottom:90px;
}

.footer-nav a {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    color: #458D7E;
    transition:all 0.3s ease;
}

.footer-nav a:hover {
    color:#fff;
}

.footer-social {
    gap:25px;
}

.footer-social a {
    fill:#2C7566;
    transition:all 0.3s ease;
}

.footer-social a:hover {
    fill:#fff;
    transition:all 0.3s ease;
}

@media (max-width:900px) {

    header {
        padding:0 25px;
    }

    nav {
        padding:40px 0;
        position: absolute;
        width: 329px;
        left: 50%;
        top: 105px;
        background: #fff;
        text-align:center;
        transform:translate(-50%, -500px);
        opacity:0;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease;
        display: flex;
        flex-direction: column;
        gap:35px;
    }

    nav.active {
        transform: translate(-50%, 0);
        opacity:1;
    }

    nav.main::before {
        content: '';
        height: 24px;
        width: 24px;
        display: block;
        position: absolute;
        top: -12px;
        right: -12px;
        background: linear-gradient(45deg, transparent 0, transparent 50%, #fff 50%, #fff 100%);
        transform: rotate(225deg);
      }

    nav a {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: -0.142857px;
        color: #808397;
    }
    
    nav a.contact {
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: -0.107143px;
        color: #24303E;
    }

    nav a.contact {
        background:#FBD600;
    }

    header button {
        display:block;
        width:24px;
        height:18px;
        background:url(images/icon-hamburger.svg) no-repeat center center;
    }

    header button.clicked {
        opacity:0.4;
        cursor: pointer;
    }

    .welcome h1 {
        font-size: 40px;
        line-height: 49px;
        text-align: center;
        letter-spacing: 6.25px;
        margin-top: 145px;
        margin-bottom:55px;
    }

    .cg__pitches {
        display: flex;
        flex-direction: column;
    }

    .cg__pitches--copyContainer {
        max-width:100%;
    }

    .cg__pitches--copy {
        padding:65px 25px;
    }

    .cg__pitches--copyContainer {
        text-align:center;
    }

    .cg__pitches--copy h2 {
        font-size: 32px;
        line-height: 39px;
        letter-spacing: -0.228571px;
    }

    .cg__pitches--img, .cg__pitches--copy {
        min-height:auto;
    }

    .cg__pitches--img img {
        height:375px;
    }

    .cg__pitches--img.yellowBg {
        order:1;
    }

    .cg__pitches--copy.brand {
        order:2;
    }

    .cg__pitches--img.redBg {
        order:3;
    }

    .cg__pitches--copy.audience {
        order:4
    }

    .cg__pitches--imgPlusCopy {
        order:5;
    }

    .cg__pitches--imgPlusCopy p {
        padding:0 25px;
    }

    .testimonials {
        padding-right: 25px;
        padding-left: 25px;
    }

    .testimonials__title {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 4px;
    }

    .testimonials__container {
        flex-direction: column;
    }

    .testimonials__quote img,
    .testimonials__quote p.quote {
        margin-bottom: 35px;
    }

    .testimonials__quote p.quote,
    .testimonials__quote p.name {
        font-size: 18px;
        line-height: 32px;
        letter-spacing: -0.128571px;
    }

    .testimonials__quote p.name {
        line-height: 22px;
    }

    .testimonials__quote p.name {
        margin-bottom:10px;
    }

    .testimonials__quote p.title {
        font-size: 14px;
        line-height: 25px;
        letter-spacing: -0.1px;

    }

    .gallery__item {
        height:188px;
    }

    .gallery__item img {
        object-fit: cover;
        height: 188px;
        width: 100%;
    }

    
}


@media (max-width:750px) {
    .welcome {
        height:538px;
        background: url(images/mobile/image-header.jpg) no-repeat center bottom;
        background-size:cover;
    }

    .cg__gallery {
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .cg__pitches--imgPlusCopyGD {
        background:url(images/mobile/image-graphic-design.jpg) no-repeat center top;
        background-size: contain;
    }

    .cg__pitches--imgPlusCopyP {
        background:url(images/mobile/image-photography.jpg) no-repeat center top;
        background-size: contain;
    }

}